@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Outfit:wght@300&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container {
    background-color: hsl(218, 22%, 67%, 0.3);
    height: 100vh;
    display: flex;
    font-family: 'Karla', sans-serif;
}
.card{
    background-color: white;
    width: 45em;
    height: 30em;
    border-radius: 10px;
    margin: auto;
}
.header{
    height: 10em;
    padding: 2em;
}
.header_one{
    color: hsl(179, 62%, 43%);
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1.2em;
}
.header_two{
    color: hsl(71, 73%, 54%);
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.8em;
}
.header_text{
    color: hsl(218, 22%, 67%);
    font-weight: bold;
    line-height: 1.6em;
}


.information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 16em;
 }
.subscription{
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 0 10px;
    padding-top: 2em;
    padding-left: 3em;
}

.reasons{
    background-color: #4ABEBD;
    border-radius: 0 0 10px 0;
    padding-top: 2em;
    padding-left: 3em;
}

.reasons_text{
    color: hsl(204, 43%, 93%);
    font-size: 0.8em;
    line-height: 1.5em;
    opacity: 0.8;
}

.price{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.7em;
}

.num{
    color: white;
    font-weight: bold;
    font-size: 1.7em;
    margin-right: 0.8em;
}
.time{
    color: hsl(204, 43%, 93%, 0.7);
    align-self: center;
}

.information_header{
    color: white;
    font-weight: bold;
    margin-bottom: 1.1em;
    font-size: 1.2rem;
}

.subscription_text{
    color: white;
    margin-bottom: 1.8em;
}
.subscription button{
    width: 12.5em;
    height: 2.8em;
    background-color: hsl(71, 73%, 54%);
    border: 1px solid hsl(71, 73%, 54%);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
}
.reasons ul{
    list-style: none;

}

